<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {
            color: red;
        }
        strong {
            color: brown;
        }
        </style>
    <title>Home</title>
</head>
<body>
    <h1>Activity Hub</h1>
    <p>Do you find yourself getting bored often?  This site can help you remember the activities that you love to do!</p>
    <p><strong>New Users:</strong> click <a href="/newUser">here</a> to enter your favorite activities.</p>
    <p><strong>Returning Users:</strong> click <a href="/returningUser">here</a> to view your favorite activities or to add more!</p>
</body>
</html>