<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {
            color: red;
        }
        strong {
            color: brown;
        }
    </style>
    <title>Log In</title>
</head>
<body>
    <h1>Returning User Log-in</h1>
    <form action="../login" method="post">
        Name: <input type="text" name="name" id="name"> 
        <input type="submit" value="View Activities">
    </form>
    <hr>
    <a href="/">HOME</a>
</body>
</html>